{% extends 'base.html.twig' %}

{% block title %}Apps{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Console</li>
    </ol>
    {% for application in applications %}
        <div class="row">
            <div class="col-3">
                {% if (application.cover is null or application.cover =='-') %}
                    <a href="{{ path('application_show',{slug:application.slug}) }}"> <img
                                src="https://via.placeholder.com/350x250" alt="cover"/></a>
                {% else %}
                    {% set cover_mini = application.cover|split('.')|first %}
                    <a href="{{ path('application_show',{slug:application.slug}) }}"><img
                                src="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~cover_mini~'-mini.'~application.cover|split('.')|last) }}"
                                alt="Cover {{ application.title }}"/></a>
                {% endif %}
            </div>
            <div class="col">
                <h4 style="display: inline"><a
                            href="{{ path('application_show',{slug:application.slug}) }}"> {{ application.title }}</a>
                </h4>
                <div class="row">
                    <div class="col-1">
                        <a href="{{ path('application_edit',{slug:application.slug}) }}">Modifier</a>
                    </div>
                    <div class="col-1">
                        <a style="color: red" data-delete data-token="{{ csrf_token('application'~application.id) }}" id="application_delete"
                           href="{{ path('application_delete',{slug:application.slug}) }}">Supprimer</a><br/>
                    </div>
                </div>
                <div style="font-size: 1.3em;" class="row">
                    <div class="col-2">
                        <i class="fa fa-download"></i> : {{ application.getTotalDownloads() }}
                    </div>
                    {% for executable in application.executables %}
                        {% if executable.platform == 'Windows' %}
                            <div class="col-2">
                                <i class="fa fa-windows"></i> : {{ executable.downloads }}
                            </div>
                        {% elseif executable.platform == "Mac" %}
                            <div class="col-2">
                                <i class="fa fa-apple"></i> : {{ executable.downloads }}
                            </div>
                        {% elseif executable.platform == "Linux" %}
                            <div class="col-2">
                                <i class="fa fa-linux"></i> : {{ executable.downloads }}
                            </div>
                        {% elseif executable.platform == "Android" %}
                            <div class="col-2">
                                <i class="fa fa-android"></i> : {{ executable.downloads }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {{ application.shortDescription }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/application_delete.js') }}"></script>
{% endblock %}