{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
{% endblock %}
{% block title %}
    {% if(edit_mode) %}
        Modifier le projet
    {% else %}
        Ajouter un nouveau projet
    {% endif %}
{% endblock %}
{% block body %}

    {% if(edit_mode) %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Console</a></li>
            <li class="breadcrumb-item"><a
                        href="{{ path('application_show',{slug: application.slug}) }}">{{ application.title }}</a></li>
            <li class="breadcrumb-item active">Modifier</li>
        </ol>
        <h1> Modifier les informations de l'application</h1>
    {% else %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Console</a></li>
            <li class="breadcrumb-item active">Ajouter</li>
        </ol>
        <h1>Ajouter une nouvelle application</h1>
    {% endif %}


    {{ form_start (application_form) }}
    <div class="row">
        <div class="col">
            {{ form_row(application_form.title, {
                'attr': {
                    'placeholder':'Titre de l\'application'
                }
            }) }}

            {{ form_row(application_form.slug, {
                'label':'Reférence',
                'attr': {
                    'placeholder':'Reférence de l\'application',
                }
            }) }}

            {{ form_row(application_form.short_description, {
                'label':'Brève description',
                'attr': {
                    'placeholder':'Courte description de l\'application',
                }
            }) }}

            {{ form_row(application_form.description, {
                'label':'Description',
                'attr': {
                    'placeholder':'Description détaillée',
                    'rows':10
                }
            }) }}

            {{ form_row(application_form.classification,{attr: {class: 'custom-select'}}) }}

            {{ form_row(application_form.genre, {attr: {class:'custom-select'}}) }}

            <p>Plateformes supportées :</p>
            <div class="row">
                {% if edit_mode and application.executables|length > 0 %}
                    {% set w ='' %}
                    {% set l ='' %}
                    {% set m ='' %}
                    {% set a ='' %}



                    {% for executable in application.executables %}
                        {% if executable.platform == 'Windows' %}
                            <div class="col">
                                {{ form_row(application_form.windows, {attr:{'checked':true}, label_attr: {class: 'checkbox-custom'}}) }}
                            </div>
                            {% set w = 'w' %}
                        {% endif %}

                        {% if executable.platform == "Linux" %}
                            <div class="col">
                                {{ form_row(application_form.linux, {'attr':{'checked':true}, label_attr: {class: 'checkbox-custom'}}) }}
                            </div>
                            {% set l = 'l' %}
                        {% endif %}

                        {% if executable.platform == "Mac" %}
                            <div class="col">
                                {{ form_row(application_form.mac, {'attr':{'checked':true}, label_attr: {class: 'checkbox-custom'}}) }}
                            </div>
                            {% set m = 'm' %}
                        {% endif %}

                        {% if executable.platform == "Android" %}
                            <div class="col">
                                {{ form_row(application_form.android, {'attr':{'checked':true}, label_attr: {class: 'checkbox-custom'}}) }}
                            </div>
                            {% set a = 'a' %}

                        {% endif %}
                    {% endfor %}

                    {% if w != 'w' %}
                        <div class="col">
                            {{ form_row(application_form.windows, {label_attr: {class: 'checkbox-custom'}}) }}
                        </div>
                    {% endif %}
                    {% if l != 'l' %}
                        <div class="col">
                            {{ form_row(application_form.linux, {label_attr: {class: 'checkbox-custom'}}) }}
                        </div>
                    {% endif %}
                    {% if m != 'm' %}
                        <div class="col">
                            {{ form_row(application_form.mac, {label_attr: {class: 'checkbox-custom'}}) }}
                        </div>
                    {% endif %}
                    {% if a != 'a' %}
                        <div class="col">
                            {{ form_row(application_form.android, {label_attr: {class: 'checkbox-custom'}}) }}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col">
                        {{ form_row(application_form.windows, {label_attr: {class: 'checkbox-custom'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(application_form.linux, {label_attr: {class: 'checkbox-custom'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(application_form.mac, {label_attr: {class: 'checkbox-custom'}}) }}
                    </div>
                    <div class="col">
                        {{ form_row(application_form.android, {label_attr: {class: 'checkbox-custom'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group" id="form-windows">
                {{ form_row(application_form.windowsFile) }}
                {% for executable in application.executables %}
                    {% if executable.platform == 'Windows' %}
                        <div id="windows-exec">
                            <a href="{{ asset('uploads/files/'~application.developer.id~'/'~executable.name) }}"><i
                                        class="fa fa-windows" style="color: black; font-size: 1.3em;"></i> Télécharger
                                ({{ executable.platform }}) </a> : {{ executable.showSize }}
                            <a href="{{ path('application_delete_executable', {id : executable.id}) }}"
                               style="color: red;" data-delete
                               data-token="{{ csrf_token('executable'~executable.id) }}">Supprimer</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-group" id="form-linux">
                {{ form_row(application_form.linuxFile) }}
                {% for executable in application.executables %}
                    {% if executable.platform == 'Linux' %}
                        <div id="linux-exec">
                            <a href="{{ asset('uploads/files/'~application.developer.id~'/'~executable.name) }}"><i
                                        class="fa fa-linux" style="color: black; font-size: 1.3em;"></i> Télécharger
                                ({{ executable.platform }}) </a> : {{ executable.showSize }}
                            <a href="{{ path('application_delete_executable', {id:executable.id}) }}"
                               style="color: red;" data-delete
                               data-token="{{ csrf_token('executable'~executable.id) }}">Supprimer</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="form-group" id="form-mac">
                {{ form_row(application_form.macFile) }}
                {% for executable in application.executables %}
                    {% if executable.platform == 'Mac' %}
                        <div id="mac-exec">
                            <a href="{{ asset('uploads/files/'~application.developer.id~'/'~executable.name) }}"><i
                                        class="fa fa-apple" style="color: black; font-size: 1.3em;"></i> Télécharger
                                ({{ executable.platform }}) </a> : {{ executable.showSize }}
                            <a href="{{ path('application_delete_executable', {id:executable.id}) }}"
                               style="color: red;" data-delete
                               data-token="{{ csrf_token('executable'~executable.id) }}">Supprimer</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="form-group" id="form-android">
                {{ form_row(application_form.androidFile) }}
                {% for executable in application.executables %}
                    {% if executable.platform == 'Android' %}
                        <div id="android-exec">
                            <a href="{{ asset('uploads/files/'~application.developer.id~'/'~executable.name) }}"><i
                                        class="fa fa-android" style="color: black; font-size: 1.3em;"></i> Télécharger
                                ({{ executable.platform }}) </a> : {{ executable.showSize }}
                            <a href="{{ path('application_delete_executable', {id:executable.id}) }}"
                               style="color: red;" data-delete
                               data-token="{{ csrf_token('executable'~executable.id) }}">Supprimer</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>


            <button type="submit" class="btn btn-success">Enregistrer</button>
            {{ form_row(application_form.isReleased,{'label':'Rendre l\'application visible par tous', label_attr:{class: 'switch-custom'}}) }}

            <p></p>
        </div>

        <div class="col-4">
            {{ form_row(application_form.coverFile, {
                'label':'Image de couverture'
            }) }}
            {% if edit_mode %}
                <a href="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~application.cover) }}"><img
                            src="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~application.cover|split('.')|first~'-mini.'~application.cover|split('.')|last) }}"
                            alt="Cover {{ application.title }}"/></a><br/>
            {% endif %}

            {{ form_row(application_form.screenshotsFile, {
                'label':'Captures d\'écran'
            }) }}

            {% if  edit_mode %}
                {% for screenshot in application.screenshots %}
                    <p>
                        {% if screenshot.filename == '-' %}
                            <a href="https://via.placeholder.com/350x250"> <img
                                        src="https://via.placeholder.com/350x250"
                                        alt="Screenshots"/></a>

                        {% else %}

                            <a href="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~screenshot.filename) }}">

                                <img src="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~screenshot.mini) }}"
                                     alt="Screenshot {{ application.title }}"/>
                            </a><br/>
                            <a href="{{ path('application_delete_screenshot', {id: screenshot.id}) }}"
                               data-delete data-token="{{ csrf_token('screenshot'~screenshot.id) }}"
                               style="color: red;">
                                Supprimer</a>
                            <a href="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~screenshot.filename) }}"
                               download>Télécharger</a>

                        {% endif %}
                    </p>
                {% endfor %}
            {% endif %}
        </div>

    </div>
    {{ form_end(application_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('application_delete') }}
    {{ encore_entry_script_tags('application_form') }}
{% endblock %}



