{% extends 'base.html.twig' %}

{% block title %}{{ application.title }} par
    {% if application.developer.displayName == '' %}
        {{application.developer.username}}
    {% else %}
        {{application.developer.displayName}}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if (application.cover is null or application.cover =='-') %}
        <p><a href="https://via.placeholder.com/350x250"> <img src="https://via.placeholder.com/350x250"
                                                               alt="cover"/></a></p>
    {% else %}
        <p><a href="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~application.cover) }}">
                <img
                        src="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~application.cover) }}"
                        alt="cover"/></a></p>
    {% endif %}
    <div class="row">
        <div class="col">
            <h2>{{ application }}</h2>
            <p>{{ application.shortDescription }}<br/>
                Cathégorie : {{ application.genre.fr }}<br/>
                Publié le {{ application.createdAt|format_datetime('medium', 'short', locale='fr') }}
            </p>
            <h5>Par
                {% if application.developer.displayName == '' %}
                    <b>: {{application.developer.username}}</b>
                {% else %}
                    <b>: {{application.developer.displayName}}</b>
                {% endif %}
                <small>({{ application.developer.email }})</small></h5>

            <h4>Description :</h4>{{ application.description|raw }}

            {% if application.executables|length >0 %}
                <h3><i class="fa fa-download"></i> Télécharger </h3>
                {% for executable in application.executables %}
                    <a href="{{ path('application_download', {slug:application.slug, platform:executable.platform}) }}">{{ application.slug~'.'~executable.name|split('.')|last }}
                        ({{ executable.platform }}) </a> : {{ executable.showSize }}
                    <div style="font-size: 1.3em; display: inline;">
                        {% if executable.platform == 'Windows' %}
                            <i class="fa fa-windows "></i>
                        {% elseif executable.platform == "Mac" %}
                            <i class="fa fa-apple"></i>
                        {% elseif executable.platform == "Linux" %}
                            <i class="fa fa-linux"></i>
                        {% elseif executable.platform == "Android" %}
                            <i class="fa fa-android"></i>
                        {% endif %}
                    </div>
                    <br/>
                {% endfor %}

            {% endif %}
            <p></p>
            <div id="comments">
                <h1>
                    {% if comments|length == 1 %}
                        Commentaire
                    {% else %}
                        Commentaires
                    {% endif %}
                    <small>({{ comments|length }})</small>
                </h1>

                {% if comments|length > 0 %}
                    {% for comment in comments %}
                        <p>
                            <B>{{ comment.author }} </B><small>({{ comment.email }})</small>
                            <small>Posté
                                le {{ comment.createdAt|format_datetime('medium', 'short', locale='fr') }}</small><br/>
                            {{ comment.text|raw }}
                        </p>
                    {% endfor %}
                    <p>
                        {% if previous >= 0 %}
                            <a href="{{ path('comment_show', {slug:application.slug, offset:previous}) }}">Précédent</a>
                        {% endif %}
                        {% if next < comments|length %}
                            <a href="{{ path('comment_show', {slug:application.slug, offset:next}) }}">Suivant</a>
                        {% endif %}
                    </p>
                {% else %}
                    <h3>Aucun commentaire n'a été publiée.</h3>
                {% endif %}
                {% if app.user %}
                    <h4>Ajouter un commentaire</h4>
                    {{ form_start(comment_form) }}
                    {{ form_row(comment_form.text, {
                        'label' : 'Votre commentaire',
                        'attr' : {
                            'placeholder' : 'Tapez votre commentaire'
                        }
                    })|raw }}

                    <button type="submit" class="btn btn-success">Envoyer</button>
                    {{ form_end(comment_form) }}
                {% else %}

                    <h2>Vous devez d'abort vous connecter afin de faire un commentaire</h2> <a
                        href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
                {% endif %}
            </div>
        </div>
        <div class="col-4" style="text-align: center;">
            {% if application.screenshots|length > 0 %}
                <h4>Captures d'écran</h4>
                {% for screenshot in application.screenshots %}
                    {% if screenshot.filename == '-' %}
                        <p><a href="https://via.placeholder.com/350x250"> <img src="https://via.placeholder.com/350x250"
                                                                               alt="Screenshots"/></a></p>
                    {% else %}
                        <p>
                            <a href="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~screenshot.filename) }}">
                                <img
                                        src="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~screenshot.mini) }}"
                                        alt="Screenshot {{ application.title }}"/></a></p>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for i in 1..5 %}
                    <p><a href="https://via.placeholder.com/350x250"> <img src="https://via.placeholder.com/350x250"
                                                                           alt="Screenshots {{ i }}"/></a></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
