{% extends 'base.html.twig' %}

{% block title %}{{ app.title }} par {{ app.developer.pseudo }}{% endblock %}

{% block body %}
    {% if (app.cover == '-') %}
        <p><a href="https://via.placeholder.com/800x400"> <img src="https://via.placeholder.com/800x400" alt="cover"/></a></p>
    {% else %}
        <a href="{{ asset('uploads/images/'~app.developer.id~'/'~app.cover) }}"> <img
                    src="{{ asset('uploads/images/'~app.developer.id~'/'~app.cover) }}" alt="cover"/></a>
    {% endif %}
    <div class="row">
        <div class="col-7">
            <h2>{{ app }}</h2>
            <p>{{ app.shortDescription }}<br/>
            Publié le {{ app.createdAt|format_datetime('medium', 'short', locale='fr') }}
            </p>
            <h5>Autheur : {{ app.developer.firstName ~' '~ app.developer.lastName ~' ('~ app.developer.email ~')' }}</h5>
            <p><h4>Description :</h4>{{ app.description }}</p>
            {% if app.executables|length >0 %}
                <h3><i class="fas fa-download"></i> Télécharger </h3>
                {% for executable in app.executables %}
                    <a href="{{ asset('uploads/files/'~app.developer.id~'/'~executable.filename) }}">{{ app.title }}
                        ({{ executable.platform }}) </a> : {{ executable.showSize }}
                    {% if executable.platform == 'Windows' %}
                        <i class="fab fa-windows"></i>
                    {% elseif executable.platform == "Mac" %}
                        <i class="fab fa-apple"></i>
                    {% elseif executable.platform == "Linux" %}
                        <i class="fab fa-linux"></i>
                    {% elseif executable.platform == "Android" %}
                        <i class="fab fa-Android"></i>
                    {% endif %}
                {% endfor %}

            {% endif %}
            <p></p>
            <div>
                <h3><b>
                        {% if comments|length == 1 %}
                            Commentaire
                        {% else %}
                            Commentaires
                        {% endif %}
                    </b></h3>
            </div>
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <h5>{{ comment.author }} ({{ comment.email }})</h5>
                    <small>Posté le {{ comment.createdAt|format_datetime('medium', 'short', locale='fr') }}</small>
                    <p>{{ comment.text }}</p>
                {% endfor %}
                {% if previous >= 0 %}
                    <a href="{{ path('app_show', {slug:app.slug, offset:previous}) }}">Précédent</a>
                {% endif %}
                {% if next < comments|length %}
                    <a href="{{ path('app_show', {slug:app.slug, offset:next}) }}">Suivant</a>
                {% endif %}
            {% else %}
                <div>Aucun commentaire n'a été publiée.</div>
            {% endif %}
            <h4>Ajouter un commentaire</h4>
            {{ form_start(comment_form) }}
            {{ form_row(comment_form.text, {
                'label' : 'Votre commentaire',
                 'attr' : {
                    'placeholder' : 'Tapez votre commentaire'
                }
            }) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(comment_form) }}
        </div>
        <div class="col-5">
            {% if app.screenshots|length > 0 %}
                <h4>Captures d'écran</h4>
                {% for screenshot in app.screenshots %}
                    {% if screenshot.filename == '-' %}
                        <p><a href="https://via.placeholder.com/350x250"> <img src="https://via.placeholder.com/350x250" alt="Screenshots"/></a></p>
                    {% else %}
                        <p><a href="{{ asset('uploads/images/'~app.developer.id~'/'~screenshot.filename) }}"> <img
                                        src="{{ asset('uploads/images/'~app.developer.id~'/'~screenshot.filename) }}"
                                        alt="Screenshot "/></a></p>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for i in 1..5 %}
                    <p><a href="https://via.placeholder.com/350x250"> <img src="https://via.placeholder.com/350x250" alt="Screenshots {{ i }}"/></a></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}