{% extends 'base.html.twig' %}

{% block title %}{{ application.title }} par {{ application.developer.pseudo }}{% endblock %}

{% block body %}
    {% if (application.cover == '-') %}
        <p><a href="https://via.placeholder.com/800x400"> <img src="https://via.placeholder.com/800x400"
                                                               alt="cover"/></a></p>
    {% else %}
        <p><a href="{{ asset('uploads/images/'~application.developer.id~'/'~application.cover) }}"> <img
                        src="{{ asset('uploads/images/'~application.developer.id~'/'~application.cover) }}"
                        alt="cover"/></a></p>
    {% endif %}
    <div class="row">
        <div class="col-7">
            <h2>{{ application }}</h2>
            <p>{{ application.shortDescription }}<br/>
                Cathégorie : {{ application.genre.fr }}<br/>
                Publié le {{ application.createdAt|format_datetime('medium', 'short', locale='fr') }}
            </p>
            <h5>Autheur
                : {{ application.developer.firstName ~' '~ application.developer.lastName }} <small>({{  application.developer.email }})</small> </h5>
            <p><h4>Description :</h4>{{ application.description }}</p>
            {% if application.executables|length >0 %}
                <h3><i class="fas fa-download"></i> Télécharger </h3>
                {% for executable in application.executables %}
                    <a href="{{ asset('uploads/files/'~application.developer.id~'/'~executable.filename) }}">{{ application.title }}
                        ({{ executable.platform }}) </a> : {{ executable.showSize }}
                    {% if executable.platform == 'Windows' %}
                        <i class="fab fa-windows"></i>
                    {% elseif executable.platform == "Mac" %}
                        <i class="fab fa-applicationle"></i>
                    {% elseif executable.platform == "Linux" %}
                        <i class="fab fa-linux"></i>
                    {% elseif executable.platform == "Android" %}
                        <i class="fab fa-Android"></i>
                    {% endif %}
                {% endfor %}

            {% endif %}
            <p></p>
            <div>
                <h3 id="comments"></i>
                        {% if comments|length == 1 %}
                            Commentaire
                        {% else %}
                            Commentaires
                        {% endif %}
                        <small>({{ comments|length }})</small>
                    </h3>
            </div>
            {% if comments|length > 0 %}
                {% for comment in comments %}

                        <h5>{{ comment.author }} <small>({{ comment.email }})</small></h5>
                        <small>Posté le {{ comment.createdAt|format_datetime('medium', 'short', locale='fr') }}</small>
                        <p>{{ comment.text }}</p>

                {% endfor %}
                {% if previous >= 0 %}
                    <a href="{{ path('application_show', {slug:application.slug, offset:previous}) }}">Précédent</a>
                {% endif %}
                {% if next < comments|length %}
                    <a href="{{ path('application_show', {slug:application.slug, offset:next}) }}">Suivant</a>
                {% endif %}
            {% else %}
                <div>Aucun commentaire n'a été publiée.</div>
            {% endif %}
            <h4>Ajouter un commentaire</h4>
            {{ form_start(comment_form) }}
            {{ form_row(comment_form.text, {
                'label' : 'Votre commentaire',
                'attr' : {
                    'placeholder' : 'Tapez votre commentaire'
                }
            }) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(comment_form) }}
        </div>
        <div class="col-5">
            {% if application.screenshots|length > 0 %}
                <h4>Captures d'écran</h4>
                {% for screenshot in application.screenshots %}
                    {% if screenshot.filename == '-' %}
                        <p><a href="https://via.placeholder.com/350x250"> <img src="https://via.placeholder.com/350x250"
                                                                               alt="Screenshots"/></a></p>
                    {% else %}
                        <p><a href="{{ asset('uploads/images/'~application.developer.id~'/'~screenshot.filename) }}">
                                <img
                                        src="{{ asset('uploads/images/'~application.developer.id~'/'~screenshot.filename) }}"
                                        alt="Screenshot "/></a></p>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for i in 1..5 %}
                    <p><a href="https://via.placeholder.com/350x250"> <img src="https://via.placeholder.com/350x250"
                                                                           alt="Screenshots {{ i }}"/></a></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}