{% extends 'base.html.twig' %}

{% block title %}
    Paramètres
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('settings') }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <h2>
            <li class="breadcrumb-item active">Paramètres ducompte</li>
        </h2>
    </ol>


    <div class="row">
        <div class="col-2 panneau-menu">
            <li><a href="{{ path('user_settings') }}">Profil</a></li>
            <li><a href="{{ path('user_change_password') }}">Mot de passe *</a></li>
        </div>
        <div class="col-8">
            <h2>Mot de passse</h2>

            {% if success  %}
                <h3>Votre mot de passe a été modifié avec succèss</h3>
            {% endif %}

            {{ form_start(password_form) }}
            {{ form_row(password_form.oldPassword,{label:'Entrer votre ancien mot de passe',type:'password'}) }}
            {{ form_row(password_form.newPassword,{label:'Entrer votre nouveau mot de passe',type:'password'}) }}
            {{ form_row(password_form.confirmNewPassword,{label:'Confirmer votre nouveau mot de passe',type:'password'}) }}
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <p></p>
            {{ form_end(password_form) }}

        </div>
    </div>
{% endblock %}