{% extends 'base.html.twig' %}

{% block title %}Bienvenu Jakpaa! ✅{% endblock %}

{% block body %}
<br/>
    <div class="row">
        {% for application in applications %}
            <div class="col-3">

                    {% if (application.cover is null or application.cover =='-') %}
                        <a href="{{ path('application_show',{slug:application.slug}) }}"> <img
                                        src="https://via.placeholder.com/350x250" alt="cover"/></a>
                    {% else %}
                        <a href="{{ path('application_show',{slug:application.slug}) }}"><img
                                    src="{{ asset('uploads/images/'~application.developer.id~'/'~application.id~'/'~application.cover|split('.')|first~'-mini.'~application.cover|split('.')|last) }}"
                                    alt="Cover {{ application.title }}"/></a>
                    {% endif %}

                <br/>
                    <h4><a href="{{ path('application_show',{slug:application.slug}) }}">
                        {% if app.user and application.isDownloadedBy(app.user) %}
                            <i class="fa fa-check-circle"></i>
                        {% endif %}
                            {{ application.title }} </a>
                        {% for executable in application.executables %}
                            {% if executable.platform == 'Windows' %}
                                <i class="fa fa-windows"></i>
                            {% elseif executable.platform == "Mac" %}
                                <i class="fa fa-apple"></i>
                            {% elseif executable.platform == "Linux" %}
                                <i class="fa fa-linux"></i>
                            {% elseif executable.platform == "Android" %}
                                <i class="fa fa-android"></i>
                            {% endif %}
                        {% endfor %}

                    </h4>
                {{ application.shortDescription }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
