{% extends 'base.html.twig' %}

{% block title %}Bienvenu chez Jakpaa! ✅{% endblock %}

{% block body %}

    {% for app in apps %}
        <div class="card-columns">
            <a href="{{ path('app-details',{slug:app.slug}) }}"><img
                        src="{{ asset('uploads/images/'~app.id~'/cover.png') }}"
                        alt="Cover {{ app.title }}"/></a>
        </div>
        <div class="card-title">
            <h4><a class="card-link" href="{{ path('app-details',{slug:app.slug}) }}"> {{ app.title }}</a>
            {% for executable in app.executables %}
                {% if executable.platform == 'Windows' %}
                    <i class="fab fa-windows"></i>
                {% elseif executable.platform == "Mac" %}
                    <i class="fab fa-apple"></i>
                {% elseif executable.platform == "Linux" %}
                    <i class="fab fa-linux"></i>
                {% elseif executable.platform == "Android" %}
                    <i class="fab fa-Android"></i>
                {% endif %}
            {% endfor %}
            </h4>
        </div>
        <p class="card-subtitle">{{ app.shortDescription }}</p>
    {% endfor %}



{% endblock %}
